{
    "port": 8005,
    "jwt_secret": "test",
    "mysql": {
        "example": {
            "host"     : "localhost",
            "user"     : "root",
            "password" : "root",
            "database" : "example",
            "connectionLimit": 10
        }
    }
}