{
    "port": 8005,   // 运行端口号
    "jwt_secret": "test",   // JWT 秘钥
    // MySQL数据库连接配置，可配置多个
    "mysql": {
        "example": {
            "host"     : "localhost",
            "user"     : "root",
            "password" : "root",
            "database" : "example",
            "connectionLimit": 10
        }
    },
    "crypto_hmac_key": "key",  // 密码加密秘钥
    "crypto_aes_key": "key", // Aes加密秘钥
    "sequelize_debug": true,  // 是否开启sequelize调试
}